.body-font, body, p, ul, li, input, select {
  font-family: $light-font;
  letter-spacing: .01rem;
  font-size: 1rem;
  color: $grey-text;
}

.footer-heading {
  font-family: $light-font;
  letter-spacing: .01rem;
  font-size: .9rem;
  text-transform: uppercase;
}

.logo-font {
  font-family: $logo-font;
  color: $brand-primary;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: .9rem;
}

.nav-font, ul#main-menu li a, .dropdown-item, .header-cart-count {
  font-family: $regular-font;
  color: $brand-primary;
  letter-spacing: .01rem;
  font-size: .9rem;
}

ul#main-menu ul.dropdown-menu li a.dropdown-item{
    color: $white;
}

.primary-heading, h1.product_title, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .01rem;
}
h1.product_title {
    margin-bottom: 1rem;
}

// .intro-heading {
//   //font-family: $heading-font;
//   font-weight: 400;
//   font-size: 2.2rem;
//   line-height: 1.1;
//   letter-spacing: .01rem;
// }

.intro-text, .term-description p {
  font-family: $light-font;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .01rem;
}

.contact-welcome, h1.woocommerce-products-header__title.page-title, .intro-heading {
  font-family: $light-font;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: .01em;
  color: $grey-text;
  font-weight: 400;
}

@include media-breakpoint-up(md) {
  .contact-welcome, h1.woocommerce-products-header__title.page-title, .intro-heading {
    font-size: 45px;
    line-height: 47px;
  }
}

.contact-header {
  font-size: 29px;
  line-height: 40px;
  letter-spacing: .01em;
  color: $brand-primary;
  font-family: $heading-font;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .contact-welcome {
    font-size: 20px;
    line-height: 30px;
  }
  .contact-header {
    font-size: 29px;
    line-height: 40px;
  }
}



//Colours
.brand-primary {
  color: $brand-primary;
}
.white {
  color: $white;
}
.bg-white {
  background: white;
}
.bg-primary{
  background: $brand-primary;
}
.bg-primary-opacity{
  background: rgba(163, 180, 162, .3);
}
.bg-grey {
  background: rgba(240, 240, 240, .9)
}

//buttons
.btn-outline-primary, .wpcf7 input[type=submit], button, .btn-block, .btn-primary {
  @include button;
}
.btn-secondary {
  @include button;
  background-color: $white;
  color: $primary;
  &:hover {
    border: 1px solid $primary;
  }
}

.btn-tertiary {
  @include button;
  border: 1px solid white;
  background-color: transparent;
  color: $white;
  &:hover {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
  }
}


button.plus, button.minus {
background: $white;
color: $brand-primary;
}

.sep-wrapper {
  width: 50px;
    .sep {
    border-top: 2px solid $primary;
  }
}
