
/* body {
     background: #000 !important;
     color: #0f0 !important;
     outline: solid #f00 1px !important;
} */

/********************/
/* Padding & Spacing*/
/********************/
//Extra paddding classes
.wrapper {
  padding: 0;
}
.prl-50 {
  padding-right: 50px;
  padding-left: 50px;
}
.prl-50 {
  padding-right: 50px;
  padding-left: 50px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-110 {
  padding-bottom: 110px;
}
.pr-20 {
  padding-right: 20px;
}
//Standard padding classes
.ptb-std {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pb-std {
  padding-bottom: 50px;
}
.pt-std {
  padding-top: 50px;
}
.pb-std-half{
  padding-bottom: 25px;
}
.pt-std-half{
  padding-top: 25px;
}
 .ptb-std-half{
  padding-top: 25px;
  padding-bottom: 25px;
}
.empty-space {
min-height: 25px;
}
.ptb-std-hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pb-std-hero {
  padding-bottom: 50px;
}


@include media-breakpoint-up(md) {
  .ptb-std {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pb-std {
    padding-bottom: 100px;
  }
  .pt-std {
    padding-top: 100px;
  }
  .ptb-std-half{
   padding-top: 50px;
   padding-bottom: 50px;
  }
  .pb-std-half{
    padding-bottom: 50px;
  }
  .pt-std-half{
    padding-top: 50px;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .empty-space {
    min-height: 50px;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .ptb-std-hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pb-std-hero {
    padding-bottom: 80px;
  }
}
.w-250 {
width: 250px;
}

.std-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-bg {
  background-image: linear-gradient(180deg,rgba(242,227,222,0.24) 75%,#ffffff 100%)!important;
}
/*******************/
/* Footer          */
/*******************/
.menu-footer-menu-container {
padding-top: 50px;
width: 62%;
margin: auto;
}
#wrapper-footer .social-media-icons {
padding-top: 25px;
}
@include media-breakpoint-up(sm) {
  .menu-footer-menu-container {
  padding-top: 0px;
  }
}
@include media-breakpoint-up(lg) {
#wrapper-footer .social-media-icons {
padding-top: 0;
}
}
#wrapper-footer {
background: #f0f0f0;
  a {
  color: $grey-text;
}
}


#page-wrapper, #error-404-wrapper {
min-height: 80VH;
}

//Header
.header-cart-count .fa.fa-shopping-bag {
padding-bottom: 2px;
padding-right: 5px;
}
// Navbar with scroll affect//
.navbar {
  @include transition;
  background-color: $white;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar h1 {
  font-size: 45px;
  line-height: 45px;
  @include transition;
}
.navbar .secondary-header {
  @include transition;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(163, 180, 162)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
//Navigation - dropdown on hover
@include media-breakpoint-up(lg) {
ul.dropdown-menu {
  display: block;
  opacity: 0;
  min-width: 100%;
  width: 100%;
  top: 52px;
  border-top: 3px solid #a3b4a2;
  border: 0;
  border-radius: 0;
  @include transition;
   li a {
  padding: .5rem .5rem;
  }
  &.show-dropdown {
  opacity: 1;
  }
}
}



@media screen and (max-width: 768px) {
  .nav-cart-box, .logo-box{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  h1.navbar-brand {
  font-size: 28px;
  line-height: 28px;
  }
  .navbar .secondary-header {
  font-size: 19px;
  line-height: 19px;
  }
}

//Helpers
.fluid-width-video-wrapper {
position: relative;
width: 100%;
padding-top: 56.25%;
  iframe {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}


.social-icons {
  font-size: 20px;
  color: $brand-primary;
  a:first-child {
    padding: 0px 10px 0px 0px;
  }
  a {
    padding: 0px 10px;
  }
  a:last-child{
    padding: 0px 0px 0px 10px;
  }
}


.home-hero{
background-image: url('../images/artisan-textiles-hero2.jpg');
background-size: cover;
background-position: center;
}

input{
border: 1px solid $brand-primary;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
}
label {
margin-bottom: 0;
}


.square-container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
}
.rectangle {
  position: relative;
  flex-basis: calc(100% - 20px);
  box-sizing: border-box;
}

.square::before,
.rectangle::before,
 {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}
.content img{
  margin: 15px;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
}


.nav-moving-target {
    display: block;
    position: absolute;
    border-bottom: 2px solid $primary;;
    transform: translateX(-60px);
    transition: all .35s ease-in-out;
    border-color: $primary;
    z-index: 9;
    pointer-events: none;
  }
  .navbar-nav {
    li a.nav-link:hover,
    li.alive a.nav-link{
    color: $primary;
    }
    li.active>a.nav-link {
    color: $primary;
    }
  }

  .dropdown-menu {
    background-color: $brand-primary-opacity-nav;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
  }

.fade-me-in {
    opacity: 0;
  }


/* Blog Post Archive */

.meta span {
  font-size: .75rem;
  text-transform: uppercase;
  &:nth-child(2) {
  padding: 0px 5px;
  }
}


.carousel-item {
  height: 70vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-item:before {
content: ' ';
left: 0;
top: 0;
right: 0;
bottom: 0;
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(103,4,251,.4)),to(rgba(103,4,251,.7)));
background-image: -webkit-linear-gradient(to right, #FF0066 ,#D41872, #A445B2);
background-image: -moz-linear-gradient(to right, #FF0066 ,#D41872, #A445B2);
background-image: -o-linear-gradient(to right, #afa9a3 ,#D41872, #A445B2);
background-image: linear-gradient(to bottom, rgba(235, 226, 217, .1), rgba(235, 226, 217, .1), rgba(68, 66, 64, 1));
position: absolute;
width: 100%;
z-index: 1;
// opacity: .6;
}
